# Directories to ignore
.git/
.github/
.idea/
.vscode/
tests/

# Ignore common archive and executable files
*.exe
*.zip
*.tar.gz
*.gz
*.tgz
*.rar
*.7z
*.jar

# Ignore configuration and script files
.gitignore
README.md
LICENSE
renovate.json

# Docker-specific files
Dockerfile
docker-compose.yml
