# Directories to ignore
.git/
.github/
.idea/
.vscode/
tests/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv/
venv/
ENV/
env/
.coverage
.pytest_cache/
htmlcov/

# Ignore common archive and executable files
*.exe
*.zip
*.tar.gz
*.gz
*.tgz
*.rar
*.7z
*.jar

# Ignore configuration and script files
.gitignore
README.md
LICENSE
renovate.json

# Docker-specific files
Dockerfile
docker-compose.yml
.dockerignore

# OS
.DS_Store
Thumbs.db

# Logs
*.log
autoheal_logs.txt

# Environment
.env
